<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='css/style.css'>
    <title>메인페이지(MainPage)</title>
</head>

<body>
    <div class='content_wrap'>
        <form method='GET' action='/page/main' id='infor_form'>
            <div class='infor_wrap'>
                <div class='infor_text_div' style="float: left;padding: 10px;">
                    아이디(ID)
                    <p></p>
                    비밀번호(PASS)
                </div>
                <div class='infor_input_div' style="float: left;padding: 10px;">
                    <input id='usr_id' type='text'>
                    <p></p>
                    <input id='usr_pass' type='password'>
                </div>
                <div class='infor_btn_div' style="float: left;padding: 10px;">
                    <button type='button' id='sub_btn' style="height: 70px;width: 100px;">제출</button>
                </div>
            </div>
        </form>
        <div style="text-align: right;padding: 10px;">
            <form method='GET' action='/page/register'>
                <button type=submit id='reg_btn' style="height: 30px;width: 100px;">회원가입</button>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    function ajax_send(type, url) {
        var xhr = new XMLHttpRequest();
        xhr.open(type, url);
        xhr.send('send user information');
        console.log('유저 정보를 전송 완료');

        xhr.addEventListener('load', function() {
            var Recivedata = JSON.parse(xhr.responseText);
            console.log(xhr.responseText)
            if (Recivedata.data) {
                console.log('로그인에 성공하여 접속합니다.')
                document.getElementById('infor_form').submit();
            }

            else alert('ID나 PASS를 다시 한 번 확인해주세요.');
        });
    };

    document.getElementById('sub_btn').addEventListener('click', function () {
        var name = document.getElementById('usr_id').value;
        var pass = document.getElementById('usr_pass').value;

        console.log('유저 정보를 전송 준비');
        ajax_send('GET', '/api/user/' + name + '/' + pass);
    });
</script>

</html>