<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage(메인페이지)</title>
</head>
<body>
    환영합니다.

    <div>
        <form method='GET' action='/api/get'>
            GET <input type='submit'>
        </form>

        <form method='POST' action='/api/post'>
            POST <input type='submit'>
        </form>

        <form method='PUT' action='/api/put'>
            PUT <input type='submit'>
        </form>

        <form method='DELETE' action='/api/delete'>
            DELETE <input type='submit'>
        </form>
    </div>
</body>
</html>