<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입(Register)</title>
</head>
<body>
    <form method='get' action='/'>
        <div id='content_wrap'>
            <div id='infor_wrap'>
                <div class='infor_text_div' style="float: left;padding: 10px;">
                    아이디(ID)
                    <p></p>
                    비밀번호(PASS)
                    <p></p>
                    메모(MEMO)
                </div>
                <div class='infor_input_div' style="float: left;padding: 10px;">
                    <input type='text' style="width: 300px;">
                    <p></p>
                    <input type='password' style="width: 300px;">
                    <p></p>
                    <textarea rows='5' style="width: 300px;" placeholder="간단한 자기소개를 써주세요 (Write down you'r information)"></textarea>
                    <p></p>
                    <button type='submit' id='sub_btn' style="height: 50px;width: 200px;">제출</button>
                </div>
            </div>
        </div>
    </form>
</body>
<script>
    function ajax_send(type, url) {
        var xhr = new XMLHttpRequest();
        xhr.open(type, url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send('send user information');
        console.log('유저 정보를 전송 완료');

        xhr.addEventListener('load', function() {
            var Recivedata = JSON.parse(xhr.responseText);

            if (Recivedata.data) {
                console.log('로그인에 성공하여 접속합니다.')
            }

            else alert('ID나 PASS를 다시 한 번 확인해주세요.');
        });
    };

    document.getElementById('sub_btn').addEventListener('click', function () {
        var id = document.getElementById('usr_id').value;
        var pass = document.getElementById('usr_pass').value;

        console.log('유저 정보를 전송 준비');
        ajax_send('GET', '/api/user/' + id + '/' + pass);
    });
</script>
</html>